.silver-title-string,
.silver-subtitle-string,
.silver-source-string,
.silver-footnote-string {
  fill: #333;
  strokewidth: 0;
  font-family: Helvetica;
  font-size: 12px;
  text-anchor: start;
}

.silver-subtitle-string {
  font-size: 10px;
}

.silver-source-string {
  font-size: 8px;
}

.silver-footnote-string {
  font-size: 8px;
  text-anchor: end;
}
