.silver-d3-title-string,
.silver-d3-subtitle-string,
.silver-d3-source-string,
.silver-d3-footnote-string {
  fill: #333;
  strokewidth: 0;
  font-family: Helvetica;
  font-size: 12px;
  text-anchor: start;
}

.silver-d3-subtitle-string {
  font-size: 10px;
}

.silver-d3-source-string {
  font-size: 8px;
}

.silver-d3-footnote-string {
  font-size: 8px;
  text-anchor: end;
}
