/*
NOTE: I'm not sure that this component needs any css
since we'll probably wind up with hard svg element props

.silver-d3-title-string,
.silver-d3-subtitle-string,
.silver-d3-source-string,
.silver-d3-footnote-string {
  fill: #333;
  strokewidth: 0;
  font-family: 'OfficinaSanITC-Book';
  font-size: 9px;
  text-anchor: start;
  color: #000000;
}

.silver-d3-title-string {
  font-family: 'OfficinaSanITC-Bold';
}

.silver-d3-subtitle-string {
  font-size: 7px;
}

.silver-d3-source-string {
  font-size: 6px;
}

.silver-d3-footnote-string {
  font-size: 6px;
  text-anchor: end;
}

.silver-d3-background-rect {
  transition: all 500 ease-in-out;
}
*/
